<!DOCTYPE html>
<html ng-app="chroma">
  <head>
    <link rel="stylesheet" type="text/css" href="public/css/app.css"></link>
    <script type="text/javascript" src="public/js/vendor.js"></script>
    <script type="text/javascript" src="public/js/config.js"></script>
    <script type="text/javascript" src="public/js/app.js"></script>

    <title>Chroma</title>
  </head>

  <body ng-controller="AppController">
    <div color-container id='chromaMain'>
      <div ng-controller="RgbController" id="rgb-controls" class="color-controls">
        <div>
          <input type="range" min="0" max="255" ng-model="rgbValues[0]" />
          <input type="number" class='small-input' min="0" max="255" pattern="\d{1,3}" ng-model="rgbValues[0]" />
        </div><div>
          <input type="range" min="0" max="255" ng-model="rgbValues[1]" />
          <input type="number" class='small-input' min="0" max="255" ng-model="rgbValues[1]" />
        </div><div>
          <input type="range" min="0" max="255" ng-model="rgbValues[2]" />
          <input type="number" class='small-input' min="0" max="255" ng-model="rgbValues[2]" />
        </div>
      </div>

      <div ng-controller="HexController" id="hex-controls" class="color-controls">
        <span class='hex-pound'>#</span>
        <input hex-input class="hex-input" type="text" />
        <div id="copy-hex" data-clipboard-text="{{hexValue}}" title="Click to copy.">∂</div>
      </div>
    </div>
  </body>
</html>
