<html ng-app="chroma">
  <head>
    <link rel="stylesheet" type="text/css" href="public/css/app.css"></link>
    <script type="text/javascript" src="public/js/vendor.js"></script>
    <script type="text/javascript" src="public/js/config.js"></script>
    <script type="text/javascript" src="public/js/app.js"></script>

    <title>Chroma</title>
  </head>

  <body ng-controller="AppController">
    <div id='chromaMain' color-container>
      <div ng-controller="RgbController">
        <input type="range" min="0" max="255" ng-model="rgbValues[0]" />
        <input type="range" min="0" max="255" ng-model="rgbValues[1]" />
        <input type="range" min="0" max="255" ng-model="rgbValues[2]" />
    </div>
    </div>
  </body>
</html>
