* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

#chromaMain {
  width: 100%;
  height: 100%;
}

#rgb-controls {
  width: 20%;
}

#hex-controls {
  width: 20%;
}

.color-controls {
  padding: 10px 0;
  position: relative;
  left: -5px;

  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  text-align: center;
}

.small-input {
  width: 60px;
  font-size: 20px;
  background: transparent;
  border: none;
  border-bottom: solid 1px gray;
  border-radius: 2px;

  &:focus {
    background: rgba(255,255,255,0.5);
    border: none;
  }
}

input {
  &:focus {
    outline: none;
  }
}
input[type=range] {
  margin: 0 20px 20px 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
